.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #6bc946;
  padding: 10px;
  border: 3px solid #ff4c8e;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}
